body {
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(52, 165, 52);
}
#menu {
  height: 30vh;
  padding: 10px 10px 10px 10px;
  text-align: center;
  background-color: rgb(235, 255, 235);
}
